#pageTitle{
  padding: 0 0 30px 0;
}

input[type="radio"].form-check-input {
    display: none;
}

#facultyFilter .form-check {
    padding-left: 0;
}

.form-check-label {
    font-weight: 500;
}

.form-check-label:hover {
    cursor: pointer;
    text-decoration: underline;
}

#facultyFilter .form-check-label {
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

span.facultyFilterForm {
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}

form#facultyFilter {
    padding-top: 3vh;
}

form#facultyFilter .form-check-inline {
    margin: 1rem;
}

div#radioLegend {
    display: none;
}

#keywordLabel {
    display: none;
}

div#keystroke_field {
    padding: 0;
}

input#keystroke_filter {
    width: 100%;
}

.noResultsToShow {
    background: #e3e3da;
    padding: 30px;
    margin: 15px;
}

/**  filter-search hidden classes  **/
.hideByText, .hideByType, .hideResultsMessage {
    display: none;
}





/********* Responsive Media Queries *********/





/* Large devices (large desktops, 1200px and up) */
/* @media screen and (min-width: 1200px) {

    #facultyFilter .form-check-label {
        font-size: 2rem;
    }
    
    span.facultyFilterForm {
        font-size: 2rem;
    }
} */

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

    #facultyFilter .form-check-label {
        font-size: 2rem;
        font-weight: 400;
    }
    
    span.facultyFilterForm {
        font-size: 2rem;
        font-weight: 400;
    }
}


/* ***  Medium min Defaults   *** */
@media screen and (min-width : 768px) and (max-width: 991.99px) {

    #facultyFilter .form-check-label {
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    span.facultyFilterForm {
        font-size: 1.5rem;
        font-weight: 500;
    }
}


/* ***** Mobile Up ***** */
@media screen and (min-width: 576px) and (max-width: 767.99px) {

    #facultyFilter .form-check-label {
        font-size: 1rem;
    }
    
    span.facultyFilterForm {
        font-size: 1rem;
    }

}


/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {

    span.facultyFilterForm {
        display: none;
    }
}




/* Surface Duo (less than 540px) */
/* @media only screen and (max-width: 539.99px) {

    #facultyFilter .form-check-label {
        font-size: 0.75rem;
    }
    
    span.facultyFilterForm {
        font-size: 0.75rem;
    }

} */


/* xs small screens */
/* @media only screen and (max-width: 464.99px) {

    #facultyFilter .form-check-label {
        font-size: 0.6rem;
        font-weight: 500;
    }
    
    span.facultyFilterForm {
        font-size: 0.6rem;
        font-weight: 500;
    }
} */

/* iPhone X (less than 376px) */
/* @media only screen and (max-width: 375.99px) {

    #facultyFilter .form-check-label {
        font-size: 0.5rem;
    }
    
    span.facultyFilterForm {
        font-size: 0.5rem;
    }
} */






/*********************
*
*   Reference Breakpoints
*
**/


/* Galaxy Fold (less than 280px) */
@media only screen and (max-width: 279.99px) {}

/* iPhone X (less than 376px) */
@media only screen and (max-width: 375.99px) {}

/* Surface Duo (less than 540px) */
@media only screen and (max-width: 539.99px) {}

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {}

/* ***** Desktop down ***** */
@media screen and (max-width: 1199.99px) {}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.99px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.99px) {}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.99px) {}

/* iPad Pro (iPad Pro, 1024px to 1200) */
@media screen and (min-width: 1024px) and (max-width: 1199.99px) {}

/* Responsice range from 1200 to 1366 */
@media screen and (min-width: 1200px) and (max-width: 1365.99px) {}

/* ***** Mobile Up ***** */
@media screen and (min-width: 576px) {}

/* ***  Medium min Defaults   *** */
@media screen and (min-width : 768px) {}

/* ***  Large min Defaults   *** */
@media screen and (min-width : 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {}

/* X Large devices (large desktops, 1366px and up) */
@media screen and (min-width: 1366px) {}

/* XX Large devices (large desktops, 1920px and up) */
@media screen and (min-width: 1920px) {}

/* XXX Large devices (large desktops, 2560px and up) */
@media screen and (min-width: 2560px) {}