#pageTitle{
  padding: 0 0 30px 0;
}

input[type="radio"].form-check-input {
    display: none;
}

/* input[type="radio"].form-check-label:checked{ color: #088099; }  */

#facultyFilter .form-check {
    padding-left: 0;
}

.form-check-inline {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    font-size: 2rem;
    color: #333333;
    text-transform: uppercase;
}

.form-check-label {
    font-weight: 500;
}

.form-check-label:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* .form-check-label:checked {
    color: #088099;
} */

#facultyFilter .form-check-label {
    font-size: 2rem;
    color: #333333;
    text-transform: uppercase;
}

/* #facultyFilter .form-check-inline {
    justify-content: space-evenly;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
} */

form#facultyFilter {
    padding-top: 3vh;
}

form#facultyFilter .form-check-inline {
    margin: 1rem;
}

/* div#filterForm {
    margin-right: 1rem;
    margin-left: 1rem;
} */

div#radioLegend {
    display: none;
}

#keywordLabel {
    display: none;
}

div#keystroke_field {
    padding: 0;
}

input#keystroke_filter {
    width: 100%;
}

.noResultsToShow {
    background: #e3e3da;
    padding: 30px;
    margin: 15px;
}

/**  filter-search hidden classes  **/
.hideByText, .hideByType, .hideResultsMessage {
    display: none;
}





/********* Responsive Media Queries *********/


@media (max-width: 1200px) {

    #facultyFilter .form-check-label {
        font-size: 1.8rem;
        font-weight: 500;
    }

    /* #facultyFilter .form-check-inline {
        font-size: 1.8rem;
        font-weight: 500;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    } */
}

@media (max-width: 992px) {

    #facultyFilter .form-check-label {
        font-size: 1.5rem;
        font-weight: 500;
    }

    /* #facultyFilter .form-check-inline {
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    } */
}

@media (max-width: 768px) {

    #facultyFilter .form-check-label {
        font-size: 1.2rem;
        font-weight: 500;
    }

    /* #facultyFilter .form-check-inline {
        font-size: 1.2rem;
        font-weight: 500;
        margin-left: 1rem;
        margin-right: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    } */
}

@media (max-width: 576px) {

    #facultyFilter .form-check-label {
        font-size: 1rem;
        font-weight: 500;
    }

    /* #facultyFilter .form-check-inline {
        font-size: 1rem;
        font-weight: 500;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    } */
}

@media (max-width: 480px) {

    #facultyFilter .form-check-label {
        font-size: 0.8rem;
        font-weight: 500;
    }

    /* #facultyFilter .form-check-inline {
        font-size: 0.8rem;
        font-weight: 500;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    } */
}

@media (max-width: 480px) {

    #facultyFilter .form-check-label {
        font-size: 0.8rem;
        font-weight: 550;
    }

    /* #facultyFilter .form-check-inline {
        font-size: 0.8rem;
        font-weight: 550;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        padding-left: 0;
        padding-right: 0;
    } */
}

@media (max-width: 337px) {

    #facultyFilter .form-check-label {
        font-size: 0.8rem;
        font-weight: 550;
    }

    /* #facultyFilter .form-check-inline {
        font-size: 0.8rem;
        font-weight: 550;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    } */
}

@media (max-width: 302px) {

    #facultyFilter .form-check-label {
        font-size: 0.7rem;
        font-weight: 550;
    }

    /* #facultyFilter .form-check-inline {
        font-size: 0.7rem;
        font-weight: 550;
    } */
}