
/** enforce a masonry tile layout  **/
.organizer.standardContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.organizerTitle {
    width: 100%;
}

div.hiddenSearchText {
    display: none;
}

span.hiddenSearchText {
    display: none;
}
