/** enforce a masonry tile layout  **/
.organizer.standardContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.facultyListItemWrapper {
   flex: 1 1 calc(100% - 30px);
   align-self: flex-start;
   margin: 15px;
   max-width: 467px;
}

.facultyListItem h3  {
   /* color: #333333; */
   font-family: Montserrat;
   font-size: 2rem;
   margin: 10px 0 0 0;
   padding-top: 1rem;
}

.facultyListItemPhoto img {
   padding: 0;
   min-height: 100px;
   object-fit: cover;
}

div.facultyListItemText {
    float: left;
}

.facultyListItemText p {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

span.primaryTitle {
    width: 100%;
}

.organizerTitle {
    width: 100%;
}

div.hiddenSearchText {
    display: none;
}

span.hiddenSearchText {
    display: none;
}



/* begin troy */


.facultyPhoto img {
    border-radius: 50%;
}

#facultyFilter .form-check-label {
    font-size: 2rem;
    color: #333333;
    text-transform: uppercase;
}

#facultyFilter .form-check-inline {
        justify-content: space-evenly;
}

form#facultyFilter {
    padding-top: 3vh;
}

.form-check-inline {
    margin-top: 1vh;
}

/* @media (min-width: 768px) { */
    /* START - Faculty landing radio labels */
	/* #facultyFilter .form-check-inline {
	     justify-content: center;
	} */
  
	/* #facultyFilter label::after {
	     content: "|";
	     padding-left: 20px;
	     padding-right: 20px;
	} */
  
	/* #facultyFilter label:last-child::after {
		content: "";
	} */
	/* END - Faculty landing radio labels */ 
/* } */

