/** enforce a masonry tile layout  **/
.organizer.standardContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.facultyListItemWrapper {
   flex: 1 1 calc(100% - 30px);
   align-self: flex-start;
   margin: 15px;
   max-width: 467px;
}

.facultyListItemWrapper a:hover {
    box-shadow: 0px 0px 15px #888;
    text-decoration: underline;
    color: #333333;
}

.facultyListItem h3  {
   /* color: #333333; */
   font-family: Montserrat;
   font-size: 2rem;
   margin: 10px 0 0 0;
   padding-top: 1rem;
}

.facultyListItemPhoto img {
   padding: 0;
   min-height: 100px;
   object-fit: cover;
}

div.facultyListItemText {
    float: left;
}

.facultyListItemText p {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

span.primaryTitle {
    width: 100%;
}

.organizerTitle {
    width: 100%;
}

div.hiddenSearchText {
    display: none;
}

span.hiddenSearchText {
    display: none;
}



/* begin troy */


.facultyPhoto img {
    border-radius: 50%;
}









/*********************
*
*   Reference Breakpoints
*
**/


/* Galaxy Fold (less than 280px) */
@media only screen and (max-width: 279.99px) {}

/* iPhone X (less than 376px) */
@media only screen and (max-width: 375.99px) {}

/* Surface Duo (less than 540px) */
@media only screen and (max-width: 539.99px) {}

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {}

/* ***** Desktop down ***** */
@media screen and (max-width: 1199.99px) {}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.99px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.99px) {}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.99px) {}

/* iPad Pro (iPad Pro, 1024px to 1200) */
@media screen and (min-width: 1024px) and (max-width: 1199.99px) {}

/* Responsice range from 1200 to 1366 */
@media screen and (min-width: 1200px) and (max-width: 1365.99px) {}

/* ***** Mobile Up ***** */
@media screen and (min-width: 576px) {}

/* ***  Medium min Defaults   *** */
@media screen and (min-width : 768px) {}

/* ***  Large min Defaults   *** */
@media screen and (min-width : 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {}

/* X Large devices (large desktops, 1366px and up) */
@media screen and (min-width: 1366px) {}

/* XX Large devices (large desktops, 1920px and up) */
@media screen and (min-width: 1920px) {}

/* XXX Large devices (large desktops, 2560px and up) */
@media screen and (min-width: 2560px) {}
